@import "_utility.scss";

html {
  background-color: #222 !important;
}
body {
  font-weight: 500;
  font-family: "Inter", serif;
  text-rendering: optimizeSpeed;
}

.app {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;

  &.animate {
    @extend %app-animate;
  }
}
.to-animate {
  transition-duration: 1.5s, 1.5s, 1.5s;
  transition-property: opacity, fill-opacity, transform;
}
.logo {
  transform: translate(-240px);
  transition-duration: 1s;
}
.furniture {
  position: relative;
  animation: furniture 1.5s ease 1s paused;
  transition-delay: 1s;
}
.christmas-tree {
  animation: christmas-tree 1.5s ease 2.5s paused;
  transition-delay: 2.5s;
  transform-origin: 80% bottom;
}
.garland-1-branch {
  transition-delay: 4s;
}
.dark {
  opacity: 0.5;
  animation: dark 5s ease 3.5s paused;
  visibility: visible;
  transition-delay: 5.5s;
  animation-fill-mode: forwards;
}
.garland-1 {
  transition-delay: 5.5s;
  transition-duration: 1s;
}
.christmas-tree-garland {
  transition-delay: 5.7s;
  transition-duration: 1.3s;
}
.garland-2 {
  animation: garland-2 1.5s ease 5.3s paused;
  transition-delay: 5.3s;
  transform-origin: center top;
  transition-duration: 1.5s;
}
.garland-3 {
  transition-delay: 5.8s;
  transition-duration: 2s;
}
.fire {
  transition-delay: 6.5s;

  & image {
    opacity: 0;
    transition-delay: 6.5s;
  }
}
.present {
  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    fill-opacity: 0;

    &__inner {
      cursor: pointer;
      position: relative;
      transform: scale(1);
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.5);
        transition-duration: 0.2s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        width: 1px;
        height: 1px;
        box-shadow: 0 0 30px 10px white;
      }
    }
  }
  &-1 {
    transition-delay: 7.5s;

    &__inner {
      transform-origin: 65% 89%;
    }
  }
  &-2 {
    transition-delay: 7.3s;

    &__inner {
      transform-origin: 72% 94%;
    }
  }
  &-3 {
    transition-delay: 7.6s;

    &__inner {
      transform-origin: 78% 89%;
    }
  }
  &-4 {
    transition-delay: 7.8s;

    &__inner {
      transform-origin: 85% 94%;
    }
  }
  &-5 {
    transition-delay: 7.4s;

    &__inner {
      transform-origin: 92% 89%;
    }
  }
}
%app-animate {
  .logo:not(.hidden) {
    transform: translate(0);
  }
  .furniture {
    fill-opacity: 1;
    animation-play-state: running;
  }
  .christmas-tree {
    fill-opacity: 1;
    animation-play-state: running;
  }
  .garland-1-branch {
    fill-opacity: 1;
  }
  .dark {
    animation-play-state: running;
  }
  .garland-1 {
    fill-opacity: 1;
  }
  .christmas-tree-garland {
    fill-opacity: 1;
  }
  .garland-2 {
    fill-opacity: 1;
    animation-play-state: running;
  }
  .garland-3 {
    fill-opacity: 1;
  }
  .fire {
    fill-opacity: 1;

    & image {
      opacity: 1;
    }
  }
  .present {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
      fill-opacity: 1;
      // transition-delay: 0s;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 110;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;

  &:not(.popup-wish) {
    pointer-events: none;
  }
  &.active {
    opacity: 1;
    transform: scale(1);
    visibility: visible !important;

    // @extend %popup-active;
  }
  &__inner {
    margin: 30px;
    border: 6px solid #fff;
    opacity: 0.95;
    padding: 50px;
    max-width: 382px;
    // animation: pulse 1.5s ease 0s infinite paused;
    border-radius: 25px;
    background-color: #db2128;

    // %popup-active & {
    //   animation-play-state: running;
    // }
  }
  &__content {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
  }
  &__badges {
    &::before {
      top: -36px;
      left: -26px;
      width: 77px;
      height: 82px;
      content: "";
      animation: popup-border-badge 3s 1.5s infinite;
      position: absolute;
      background-image: url("../img/message-border-badge-1.svg");
      background-repeat: no-repeat;
      background-position: top left;
    }
    &::after {
      width: 82px;
      right: -40px;
      height: 118px;
      bottom: -32px;
      content: "";
      animation: popup-border-badge 3s 1.8s infinite;
      position: absolute;
      background-image: url("../img/message-border-badge-2.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
  &__button {
    left: 50%;
    color: #fff;
    border: none;
    bottom: -17px;
    cursor: pointer;
    padding: 21px;
    position: absolute;
    font-size: 16px;
    min-width: 257px;
    transform: translate(-50%, 50%) scale(1);
    transition: transform 0.3s, background-color 0.3s;
    font-weight: 800;
    font-family: inherit;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #68a923;

    &:hover {
      transform: translate(-50%, 50%) scale(1.1);
      background-color: #89c04f;
    }
  }
}
.popup-wish {
  backdrop-filter: blur(15px);

  &:not(.active) {
    pointer-events: none;
  }
  &.finished {
    .popup__inner {
      animation-play-state: running;
    }
    .popup__inner-finished {
      opacity: 1;
      visibility: visible;
    }
  }
  & .popup__inner {
    position: relative;
    max-width: 444px;
    animation: inner-finished 2s paused;
    animation-fill-mode: forwards;
    &::before {
      top: -34px;
      left: -20px;
      right: -20px;
      bottom: -30px;
      content: "";
      position: absolute;
      animation: popup-border 3s infinite;
      background-size: 100% 100%;
      background-image: url("../img/message-border.svg");
      background-repeat: no-repeat;
    }
  }
  .popup__inner-finished {
    opacity: 0;
    position: absolute;
    visibility: hidden;

    .finished-logo {
      margin: 30px auto 0;
    }
  }
}

@media (max-width: 768px) {
  .popup {
    &__inner {
      padding: 30px;
    }
    &__content {
      font-size: 22px;
    }
  }
}

@keyframes garland-2 {
  0% {
    transform: translateY(-50px) scale(1.15);
  }
  50% {
    transform: translateY(-8px) scale(1);
  }
  75% {
    transform: translateY(0) scaleY(1.02);
  }
  95% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes furniture {
  0% {
    top: -40px;
    left: -10px;
  }
  20% {
    top: 0;
    left: -8px;
  }
  50% {
    top: -10px;
    left: -5px;
  }
  60% {
    top: 0;
    left: -2px;
  }
}
@keyframes dark {
  35% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes christmas-tree {
  0% {
    transform: scale(0.7, 0.5);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  70% {
    transform: scale(1.05, 0.95);
  }
}
@keyframes flashlight {
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 251, 212, 0.9);
  }
}
@keyframes pulse {
  50% {
    transform: scale(1.03);
  }
}
@keyframes popup-border {
  40% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-0.5deg);
  }
  85% {
    transform: rotate(0.5deg);
  }
}
@keyframes popup-border-badge {
  35% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-3deg);
  }
}
@keyframes inner-finished {
  40% {
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
    visibility: hidden;
  }
}

@import "_confetti.scss";