@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url("../fonts/inter-v12-cyrillic-800.woff2") format("woff2"),
    url("../fonts/inter-v12-cyrillic-800.woff") format("woff");
}

.preloader {
  font-family: "Inter", serif;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 100;
  display: flex;
  visibility: visible;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #65ac1e;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}
.preloader__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  transform: translate(-50%, -50%);
}
.preloader__state {
  position: relative;
  margin-top: 50px;
  margin-bottom: 5px;
}
.preloader__state svg {
  display: inline-block;
  vertical-align: middle;
}
.preloader__path {
  transition: stroke-dashoffset 0.3s;
}