@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/inter-v12-cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-cyrillic-500.woff") format("woff");
}
/* null styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

html {
  background-color: #222 !important;
}

body {
  font-weight: 500;
  font-family: "Inter", serif;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
}

.app {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.to-animate {
  transition-duration: 1.5s, 1.5s, 1.5s;
  transition-property: opacity, fill-opacity, transform;
}

.logo {
  transform: translate(-240px, 40px);
  transition-duration: 1s;
}

.furniture {
  position: relative;
  transition-delay: 1s;
  transition-duration: 2s;
}

.snow-pattern path {
  -webkit-animation: snow 15s linear infinite;
          animation: snow 15s linear infinite;
}
.snow-pattern path:nth-child(5n) {
  opacity: 0.8;
}
.snow-pattern path:nth-child(5n+1) {
  opacity: 0.6;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.snow-pattern path:nth-child(5n+2) {
  opacity: 0.9;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.snow-pattern path:nth-child(5n+3) {
  opacity: 0.4;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.twinkle {
  -webkit-animation: twinkle 1s infinite paused;
          animation: twinkle 1s infinite paused;
  transform-origin: 131.019px 502.732px;
}
.twinkle__right {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  transform-origin: 154.299px 521.037px;
}

.christmas-tree {
  -webkit-animation: christmas-tree 1.5s ease 2.5s paused;
          animation: christmas-tree 1.5s ease 2.5s paused;
  transition-delay: 2.5s;
  transform-origin: 80% bottom;
}

.christmas-tree-balls {
  -webkit-animation: christmas-tree-balls 8s steps(1, start) 0s infinite forwards;
          animation: christmas-tree-balls 8s steps(1, start) 0s infinite forwards;
}

.garland-1-branch {
  transition-delay: 4s;
}

.dark {
  opacity: 0.5;
  -webkit-animation: dark 5s ease 3.5s paused;
          animation: dark 5s ease 3.5s paused;
  visibility: visible;
  transition-delay: 7.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.garland-1 {
  -webkit-animation: garland 2s ease 5s paused;
          animation: garland 2s ease 5s paused;
  transition-delay: 5s;
  transition-duration: 2s;
}

.garland-2 {
  -webkit-animation: garland 2s ease 6s paused;
          animation: garland 2s ease 6s paused;
  transition-delay: 6s;
  transform-origin: center top;
  transition-duration: 1.8s;
}

.garland-3 {
  transition-delay: 6.7s;
  transition-duration: 2s;
}

.christmas-tree-garland {
  transition-delay: 7.1s;
  transition-duration: 1.3s;
}

.fire {
  transition-delay: 7.5s;
}
.fire-element {
  opacity: 0;
  transition-delay: 6.5s;
}

.glow-animation > path {
  -webkit-animation: glow 2s infinite;
          animation: glow 2s infinite;
}
.glow-animation > path:nth-child(4n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.glow-animation > path:nth-child(4n+1) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.glow-animation > path:nth-child(4n+2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.glow-animation > path:nth-child(4n+3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.present-1, .present-2, .present-3, .present-4, .present-5 {
  opacity: 0;
}
.present-1__inner, .present-2__inner, .present-3__inner, .present-4__inner, .present-5__inner {
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s;
}
.present-1__inner:hover, .present-2__inner:hover, .present-3__inner:hover, .present-4__inner:hover, .present-5__inner:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
}
.present-1__inner::before, .present-2__inner::before, .present-3__inner::before, .present-4__inner::before, .present-5__inner::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 30px 10px white;
}
.present-1 circle, .present-2 circle, .present-3 circle, .present-4 circle, .present-5 circle {
  -webkit-animation: pulse 2.5s infinite paused;
          animation: pulse 2.5s infinite paused;
}
.present-1 {
  transition-delay: 8.9s;
}
.present-1__inner {
  transform-origin: 65% 89%;
}
.present-1 circle {
  transform-origin: 65% 79%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.present-2 {
  transition-delay: 10.3s;
}
.present-2__inner {
  transform-origin: 72% 94%;
}
.present-2 circle {
  transform-origin: 71.6% 86.5%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}
.present-3 {
  transition-delay: 9.8s;
}
.present-3__inner {
  transform-origin: 78% 89%;
}
.present-3 circle {
  transform-origin: 78% 82.5%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2.9s;
          animation-duration: 2.9s;
}
.present-4 {
  transition-delay: 9.3s;
}
.present-4__inner {
  transform-origin: 85% 94%;
}
.present-4 circle {
  transform-origin: 85% 85%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 2.6s;
          animation-duration: 2.6s;
}
.present-5 {
  transition-delay: 10s;
}
.present-5__inner {
  transform-origin: 92% 89%;
}
.present-5 circle {
  transform-origin: 93% 83%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

#fire-pattern-svg {
  -webkit-animation: fire 1s steps(11, start) infinite paused;
          animation: fire 1s steps(11, start) infinite paused;
}

body.animate .logo:not(.hidden) {
  transform: translate(0, 40px);
}
body.animate .furniture {
  fill-opacity: 1;
}
body.animate .twinkle {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body.animate .christmas-tree {
  opacity: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body.animate .garland-1-branch {
  fill-opacity: 1;
}
body.animate .dark {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body.animate .garland-1 {
  fill-opacity: 1;
}
body.animate .christmas-tree-garland {
  fill-opacity: 1;
}
body.animate .garland-2 {
  fill-opacity: 1;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body.animate .garland-3 {
  fill-opacity: 1;
}
body.animate .fire {
  fill-opacity: 1;
}
body.animate .fire-element {
  opacity: 1;
}
body.animate .present-1, body.animate .present-2, body.animate .present-3, body.animate .present-4, body.animate .present-5 {
  opacity: 1;
}
body.animate .present-1 circle, body.animate .present-2 circle, body.animate .present-3 circle, body.animate .present-4 circle, body.animate .present-5 circle {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
body.animate #fire-pattern-svg {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 110;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}
.popup:not(.popup-wish) {
  pointer-events: none;
}
.popup.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible !important;
}
.popup__inner {
  margin: 30px;
  border: 6px solid #fff;
  opacity: 0.95;
  padding: 50px;
  max-width: 382px;
  border-radius: 25px;
  background-color: #db2128;
}
.popup__content {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}
.popup__badges::before {
  top: -36px;
  left: -26px;
  width: 77px;
  height: 82px;
  content: "";
  -webkit-animation: popup-border-badge 3s 1.5s infinite;
          animation: popup-border-badge 3s 1.5s infinite;
  position: absolute;
  background-image: url("../img/message-border-badge-1.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.popup__badges::after {
  width: 82px;
  right: -40px;
  height: 118px;
  bottom: -32px;
  content: "";
  -webkit-animation: popup-border-badge 3s 1.8s infinite;
          animation: popup-border-badge 3s 1.8s infinite;
  position: absolute;
  background-image: url("../img/message-border-badge-2.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.popup__button {
  left: 50%;
  color: #fff;
  border: none;
  bottom: -17px;
  cursor: pointer;
  padding: 21px;
  position: absolute;
  font-size: 16px;
  min-width: 257px;
  transform: translate(-50%, 50%) scale(1);
  transition: transform 0.3s, background-color 0.3s;
  font-weight: 800;
  font-family: inherit;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #68a923;
}
.popup__button:hover {
  transform: translate(-50%, 50%) scale(1.1);
  background-color: #89c04f;
}

.popup-wish {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.popup-wish:not(.active) {
  pointer-events: none;
}
.popup-wish.finished .popup__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.popup-wish.finished .popup__inner-finished {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.popup-wish.finished .popup__inner-finished .finished-new-year {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.popup-wish .popup__inner {
  position: relative;
  max-width: 444px;
  -webkit-animation: inner-finished 2s paused;
          animation: inner-finished 2s paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.popup-wish .popup__inner::before {
  top: -34px;
  left: -20px;
  right: -20px;
  bottom: -30px;
  content: "";
  position: absolute;
  -webkit-animation: popup-border 3s infinite;
          animation: popup-border 3s infinite;
  background-size: 100% 100%;
  background-image: url("../img/message-border.svg");
  background-repeat: no-repeat;
}
.popup-wish .popup__inner-finished {
  opacity: 0;
  position: absolute;
  -webkit-animation: inner-finished-final 3s 2s paused;
          animation: inner-finished-final 3s 2s paused;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.popup-wish .popup__inner-finished svg {
  overflow: visible;
}
.popup-wish .popup__inner-finished .finished-new-year {
  transform-origin: center 400%;
  -webkit-animation: finished-new-year 3s 2s infinite paused;
          animation: finished-new-year 3s 2s infinite paused;
}
.popup-wish .popup__inner-finished .finished-logo {
  margin: 60px auto 0;
}

@media (max-width: 1366px) and (min-width: 576px) {
  .scaled-wrapper {
    transform: scale(calc(2 * var(--windowWidth) / (var(--windowWidth) + 1366)));
  }
}
@media (max-width: 575.98px) {
  .popup__inner {
    padding: 30px;
  }
  .popup__content {
    font-size: 20px;
  }
}
@-webkit-keyframes garland {
  0% {
    transform: translateY(-40px) scale(1.15);
  }
  50% {
    transform: translateY(-3px) scale(1);
  }
  75% {
    transform: translateY(0) scaleY(1.02);
  }
  95% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes garland {
  0% {
    transform: translateY(-40px) scale(1.15);
  }
  50% {
    transform: translateY(-3px) scale(1);
  }
  75% {
    transform: translateY(0) scaleY(1.02);
  }
  95% {
    transform: translateY(0) scaleY(1);
  }
}
@-webkit-keyframes snow {
  0% {
    transform: translate(-10px, -200px);
  }
  100% {
    transform: translate(30px, 350px);
  }
}
@keyframes snow {
  0% {
    transform: translate(-10px, -200px);
  }
  100% {
    transform: translate(30px, 350px);
  }
}
@-webkit-keyframes dark {
  20% {
    opacity: 0.5;
  }
  77% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dark {
  20% {
    opacity: 0.5;
  }
  77% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes christmas-tree {
  0% {
    transform: scale(0.7, 0.5);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  70% {
    transform: scale(1.05, 0.95);
  }
}
@keyframes christmas-tree {
  0% {
    transform: scale(0.7, 0.5);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  70% {
    transform: scale(1.05, 0.95);
  }
}
@-webkit-keyframes christmas-tree-balls {
  0% {
    fill: #FDE0AE;
  }
  25% {
    fill: #FF4949;
  }
  50% {
    fill: #98FF69;
  }
  75% {
    fill: #B1D0FF;
  }
  100% {
    fill: #FDE0AE;
  }
}
@keyframes christmas-tree-balls {
  0% {
    fill: #FDE0AE;
  }
  25% {
    fill: #FF4949;
  }
  50% {
    fill: #98FF69;
  }
  75% {
    fill: #B1D0FF;
  }
  100% {
    fill: #FDE0AE;
  }
}
@-webkit-keyframes flashlight {
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 251, 212, 0.9);
  }
}
@keyframes flashlight {
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 251, 212, 0.9);
  }
}
@-webkit-keyframes pulse {
  33% {
    transform: scale(0.7);
  }
  66% {
    transform: scale(1.2);
  }
}
@keyframes pulse {
  33% {
    transform: scale(0.7);
  }
  66% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes glow {
  50% {
    opacity: 0.3;
  }
}
@keyframes glow {
  50% {
    opacity: 0.3;
  }
}
@-webkit-keyframes popup-border {
  40% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-0.5deg);
  }
  85% {
    transform: rotate(0.5deg);
  }
}
@keyframes popup-border {
  40% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-0.5deg);
  }
  85% {
    transform: rotate(0.5deg);
  }
}
@-webkit-keyframes popup-border-badge {
  35% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-3deg);
  }
}
@keyframes popup-border-badge {
  35% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes inner-finished {
  40% {
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
    visibility: hidden;
  }
}
@keyframes inner-finished {
  40% {
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
    visibility: hidden;
  }
}
@-webkit-keyframes inner-finished-final {
  0% {
    transform: translateY(500px);
  }
  60% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes inner-finished-final {
  0% {
    transform: translateY(500px);
  }
  60% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes finished-new-year {
  40% {
    transform: rotate(-2deg) translateX(20px);
  }
  50% {
    transform: rotate(2deg) translateX(-20px);
  }
  65% {
    transform: rotate(-1deg) translateX(10px);
  }
  80% {
    transform: rotate(0.5deg) translateX(-5px);
  }
}
@keyframes finished-new-year {
  40% {
    transform: rotate(-2deg) translateX(20px);
  }
  50% {
    transform: rotate(2deg) translateX(-20px);
  }
  65% {
    transform: rotate(-1deg) translateX(10px);
  }
  80% {
    transform: rotate(0.5deg) translateX(-5px);
  }
}
@-webkit-keyframes fire {
  0% {
    transform: translate(0) scale(0.6045, 0.5);
  }
  100% {
    transform: translate(-605px) scale(0.6045, 0.5);
  }
}
@keyframes fire {
  0% {
    transform: translate(0) scale(0.6045, 0.5);
  }
  100% {
    transform: translate(-605px) scale(0.6045, 0.5);
  }
}
@-webkit-keyframes twinkle {
  15% {
    transform: skew(-1deg);
  }
  33% {
    transform: skew(2deg) scaleY(1.05);
  }
  55% {
    transform: skew(-2deg);
  }
  75% {
    transform: skew(0.5deg) scaleY(1.1);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(0.5deg) scaleY(0.95);
  }
}
@keyframes twinkle {
  15% {
    transform: skew(-1deg);
  }
  33% {
    transform: skew(2deg) scaleY(1.05);
  }
  55% {
    transform: skew(-2deg);
  }
  75% {
    transform: skew(0.5deg) scaleY(1.1);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(0.5deg) scaleY(0.95);
  }
}
.confetti {
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  opacity: 0;
  z-index: 150;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
}
.confetti.active {
  opacity: 1;
  visibility: visible !important;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-40deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 926ms;
          animation-delay: 926ms;
  -webkit-animation-duration: 3355ms;
          animation-duration: 3355ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(55deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1106ms;
          animation-delay: 1106ms;
  -webkit-animation-duration: 2104ms;
          animation-duration: 2104ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(16deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 242ms;
          animation-delay: 242ms;
  -webkit-animation-duration: 2776ms;
          animation-duration: 2776ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(9deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 378ms;
          animation-delay: 378ms;
  -webkit-animation-duration: 2545ms;
          animation-duration: 2545ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(69deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 192ms;
          animation-delay: 192ms;
  -webkit-animation-duration: 2580ms;
          animation-duration: 2580ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-60deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1179ms;
          animation-delay: 1179ms;
  -webkit-animation-duration: 3110ms;
          animation-duration: 3110ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(30deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1215ms;
          animation-delay: 1215ms;
  -webkit-animation-duration: 2314ms;
          animation-duration: 2314ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(41deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 583ms;
          animation-delay: 583ms;
  -webkit-animation-duration: 3277ms;
          animation-duration: 3277ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(19deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
  -webkit-animation-duration: 2755ms;
          animation-duration: 2755ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(13deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 896ms;
          animation-delay: 896ms;
  -webkit-animation-duration: 2962ms;
          animation-duration: 2962ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(11deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 798ms;
          animation-delay: 798ms;
  -webkit-animation-duration: 3052ms;
          animation-duration: 3052ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(37deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1236ms;
          animation-delay: 1236ms;
  -webkit-animation-duration: 2378ms;
          animation-duration: 2378ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-29deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1157ms;
          animation-delay: 1157ms;
  -webkit-animation-duration: 3383ms;
          animation-duration: 3383ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(80vh);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(80vh);
  }
}